<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Add Book</title>
		<link rel="stylesheet" href="../main.css" />
	</head>
	<body>
		<!-- NAVBAR -->
		<nav class="navbar">
			<div class="nav-left">
				<a href="./homePage.html">
					<svg class="icon" viewBox="0 0 24 24">
						<path d="M3 10L12 3L21 10V20H3V10Z" />
					</svg>
				</a>
			</div>
			<button class="btn logout">Logout</button>
		</nav>

		<!-- MAIN -->
		<main class="container">
			<div class="card form-card">
				<h1>Add Books</h1>

				<form class="form">
					<input type="text" placeholder="Title" required />
					<input type="text" placeholder="Author" required />

					<button class="btn add-btn">Add Book</button>
				</form>
			</div>
		</main>
	</body>
</html>
