<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Welcome</title>
		<link rel="stylesheet" href="/main.css" />
		<link rel="manifest" href="/manifest.json" />
	</head>
	<body>
		<nav class="navbar">
			<div></div>

			<div class="nav-right">
				<select id="lang-switch">
					<option value="en">EN</option>
					<option value="no">NO</option>
				</select>
			</div>
		</nav>

		<main class="center">
			<div class="card front-card">
				<div class="front-buttons">
					<a href="/loginPage.html" class="big-btn" data-i18n="login"></a>
					<a
						href="/createUser.html"
						class="big-btn outline"
						data-i18n="createAccount"
					></a>
				</div>
			</div>
		</main>

		<script type="module" src="/app.mjs"></script>
	</body>
</html>
